<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697866043206-0uid6ej43bt007scf1tu02j7mjgr1fcf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697866043206-0uid6ej43bt007scf1tu02j7mjgr1fcf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>697866043206-2sqj94q6em263ved7k6bfj36nl0a8g0d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCaR20RfVeD0QOhe3GvX3aSy_obYbVXsXM</string>
	<key>GCM_SENDER_ID</key>
	<string>697866043206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vetrinamiaCn</string>
	<key>PROJECT_ID</key>
	<string>vetrina-mia</string>
	<key>STORAGE_BUCKET</key>
	<string>vetrina-mia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697866043206:ios:31aa538d1074a425202f47</string>
</dict>
</plist>